{% extends 'base.html' %}

{% block head %}
<title>Home page</title>
{% endblock %}

{% block active_link %}
  <li class="active"><a href="../appliances/">Home</a></li>
  <li><a href="../appliances/tv/">Tv</a></li>
  <li><a href="../appliances/fridge/">Fridge</a></li>
{% endblock %}

{% block body %}
<h1>Home page</h1>
<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
{% endblock %}

